<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Your local Welland automotive repair shop and tire centre. Brakes, oil changes, alignments, and more. Need new tires? We've got you covered.">
        <meta name="keywords" content="tires welland,welland oil change,welland car repair,tires,welland brakes">
        <meta name="author" content="Josh Kannenberg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93974160-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-93974160-2');
        </script>


        <!--Temp CSS-->
<!--
        

<link rel="stylesheet" href="/public/css/bootstrap.min.css" />
<link rel="stylesheet" href="/public/css/styles.css" />
-->


        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/styles.css" />

        <title>Welland Car Repair | Oil Change | Tires | Rick's Service Centre</title>
    </head>

    <body class="entire-page">
        <nav class="main-nav">
            <div class="main-logo">
                <img src="/assets/rsc-logo.png">
            </div>
            <div class="main-title">
                <h4 class="title-text">Rick's Service Centre</h4>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#services">Services</a>
                </li>
                <li>
                    <a href="#tire-section">Tires</a>
                </li>
                <li>
                    <a href="#contact-section">Contact</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">COVID-19 UPDATE</h1>
            <p class="lead">As an essential service, we are open. We have implemented social distancing measures to help prevent the spread of COVID-19. The waiting room is closed until further notice, but you can still drop your car off by leaving your keys in the drop box located on the centre bay door.</p>
        </div>
        <!--
<div class="covid-bar">
<div class="covid-bar-title">
<h5></h5>
</div>
</div>
-->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/assets/open@2x.png" alt="First slide">
                </div>
            </div>
        </div>

        <div class="gap-1">

        </div>
        <div class="services">
            <!----------------Navigate to Services Section----------------->
            <a name="services"></a>
            <!----------------Navigate to Services Section----------------->

            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="/assets/tires.jpg" alt="Card image cap">
                    <div class="card-body service-cards">
                        <h5 class="card-title">New Tires & Tire Repairs</h5>
                        <p class="card-text">We offer tires from leading brands, from original equipment tires to the finest replacement tires available in the aftermarket.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/assets/car-brakes.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Brakes</h5>
                        <p class="card-text">From brake pads and rotors to ABS systems, our technicians can perform brake repairs on any kind of vehicle.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/assets/car-headlights.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Lights & Wipers</h5>
                        <p class="card-text">We will inspect your lighting system including headlamps, brake lights, turn signals, and more. We will also help improve visibility by checking your wipers and wiper fluid.</p>
                    </div>
                </div>
                </div>
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="/assets/oil-change.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Oil Change</h5>
                        <p class="card-text">By replacing your engine oil and filter based on the manufacturers guidelines, you can extend the life of your engine. We replace the engine oil, filters, check tire pressure, and top up all other fluids.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/assets/engine-light.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Check Engine Light</h5>
                        <p class="card-text">A check engine light means you should have your vehicle looked at immediately. Rick's Service Centre has the tools and expertise required to find and diagnose check engine light codes.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/assets/car-ac.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">AC & Heating Repairs</h5>
                        <p class="card-text">If you are having issues with your AC or heating in your vehicle, we can fix it.</p>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="/assets/car-lift.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Alignments</h5>
                        <p class="card-text">Wheel alignments by experienced technicians using the most advanced technology. Call now to get a quote or schedule an appointment.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/assets/car-suspension.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Steering & Suspension</h5>
                        <p class="card-text">Have your steering and suspension system inspected to ensure the safety of your vehicle. Maintaining your steering and suspension system will extend the life of your tires and keep you safe on the road.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/assets/car-battery.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Batteries, Starters, & Charging</h5>
                        <p class="card-text">We can test your car battery to make sure it is holding a charge and replace it if necessary. The starter and alternator can also have issues.</p>
                    </div>
                </div>

            </div>
        </div>

        <!----------------Navigate to Tire Section----------------->
        <a name="tire-section"></a>
        <!----------------Navigate to Tire Section----------------->

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/assets/tire-banner.png" alt="First slide">
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid tire-jumbotron">

            <!-- Page Content -->
            <div class="container">

                <h1 class="display-4 tire-title">Shop For Tires</h1>
                <p class="lead tire-description">We offer a large selection of tires for cars and trucks. We will install and balance your tires and make sure that there are no issues that could affect their life.</p>

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">

                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="https://www.bfgoodrich.ca/en/home" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/assets/tire-logos/bfg-logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="https://www.bridgestonetire.ca/" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/assets/tire-logos/bridgestone-logo.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="https://www.dunloptires.com/" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/assets/tire-logos/dunlop-logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="https://gtradial.ca/" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/assets/tire-logos/gt-logo.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="https://www.hankooktire.com/ca-en/" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/assets/tire-logos/hankook-logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="https://www.michelin.ca/en/home" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/assets/tire-logos/michelin-logo.jpeg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="https://www.toyotires.ca/" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/assets/tire-logos/toyo-logo.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="https://www.uniroyal.ca/" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/assets/tire-logos/uniroyal-logo.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="https://tire.yokohama.ca/?gclid=Cj0KCQjwhZr1BRCLARIsALjRVQOHiZIKhIaEn1zWZp18hkSVU6_E-cZ8P6emBNXGUsnW_KuleJ5rmj8aAl3hEALw_wcB" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/assets/tire-logos/yokahama-logo.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="https://www.pirelli.com/tyres/en-ww/car/homepage" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/assets/tire-logos/pirelli-logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="https://www.goodyear.ca/" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/assets/tire-logos/goodyear-logo.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="https://www.firestonetire.ca/" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/assets/tire-logos/firestone-logo.jpeg" alt="">
                        </a>
                    </div>
                </div>

            </div>
            <!-- /.container -->


        </div>


        <!----------------Navigate to Contact Section----------------->
        <a name="contact-section"></a>
        <!----------------Navigate to Contact Section----------------->

        <div class="contact-us">
            <section class="mb-4 contact">

                <!--Section heading-->
                <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
                    a matter of hours to help you. Call us at 905-735-9314 or send us an email using the form below.</p>

                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12 mb-md-0 mb-5">
                        <form>

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="text" id="name" class="form-control">
                                        <label for="name" class="">Your name</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="email" id="email" class="form-control">
                                        <label for="email" class="">Your email</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <input type="text" id="subject" class="form-control">
                                        <label for="subject" class="">Subject</label>
                                    </div>
                                </div>
                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea name="text" id="text" placeholder="Please include the year, make, and model of your vehicle with your question" rows="2" class="form-control md-textarea"></textarea>
                                        <label for="message">Your message</label>
                                    </div>

                                </div>
                            </div>
                            <!--Grid row-->
                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <div class="text-center text-md-left">
                                            <input class="btn btn-primary" type="submit" value="Submit">
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!--Grid row-->

                        </form>
                        
                        <div class="status"></div>
                    </div>
                    <!--Grid column-->

                </div>

            </section>
        </div>

        <!-- The Modal -->
        <div id="failureModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Message could not be sent. Please check to make sure you input the correct values in all fields</p>
            </div>

        </div>
        
        <!-- Success -->
        <div id="successModal" class="modal2">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close2">&times;</span>
                <p>Message was sent successfully! We will get back to you as soon as possible.</p>
            </div>

        </div>


        <!--        <script src="js/mail.js"></script>-->
        <script src="js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <!--------------------ModalSuccessJS--------------------->
        <script>
            
            var modal2 = document.getElementById("successModal");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close2")[0];

            // When the user clicks on the button, open the modal
            
            function sentEmailSuccess() {
                modal2.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal2.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal2) {
                    modal2.style.display = "none";
                }
            }
        </script>
        
        
        <!--------------------ModalFailureJS--------------------->
        <script>
            
            var modal = document.getElementById("failureModal");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal
            
            function sentEmailFailure() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        <script>
            // Add contact form logic here
            $('form').on('submit', (e) => {
                e.preventDefault(); // Disabling this might allow it to refresh (***READ***)

                const name = $('#name').val().trim();
                const email = $('#email').val().trim();
                const subject = $('#subject').val().trim();
                const text = $('#text').val().trim();

                const data = {
                    name,
                    email,
                    subject,
                    text
                };

                if (data.email.length != 0 || data.email.length != 0 || data.email.length != 0 || data.email.length != 0) {
                    $.post('/email', data, function() {
                        console.log('Server received our data');
                    });
                    sentEmailSuccess();
                } else {
                    console.log('missing email');
                    sentEmailFailure();
                }

            });;
        </script>
    </body>


</html>